:root {
    --primary-bg: #ffb606;
    --primary-bg-hover: #ffc530;
    --secondary-bg: #2ec4b6;
    --secondary-bg-hover: #32d3c4;
    --danger-bg: #fc544b;
    --tertiary-bg: #2a4856;
    --soft-grey-bg: #f9fafe;
}

.breadcrumbs {
    background: var(--secondary-bg);
}

.breadcrumbs ol li+li::before {
    color: white;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover>a, .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover>a {
    color: var(--secondary-bg);
}

.section-header h2, .section-header p, .navbar a, .navbar a:focus, .header .logo span, .footer .copyright {
    color: var(--tertiary-bg);
}

.navbar .getstarted, .navbar .getstarted:focus, .back-to-top, .btn-primary, .btn.btn-primary:active, .navbar .getstarted:focus:hover {
    background: var(--primary-bg);
    border-color: var(--primary-bg);
}

.navbar .getstarted:hover, .back-to-top:hover, .btn-primary:hover {
    background: var(--primary-bg-hover);
    border-color: var(--primary-bg-hover);
}

.btn-secondary, .btn.btn-secondary:active {
    background: var(--secondary-bg);
    border-color: var(--secondary-bg);
}

.btn-secondary:hover {
    background: var(--secondary-bg-hover);
    border-color: var(--secondary-bg-hover);
}

.badge {
    vertical-align: middle;
    padding: 7px 12px;
    font-weight: 600;
    letter-spacing: 0.3px;
    border-radius: 30px;
    font-size: 12px;
}

.badge-warning {
    background-color: var(--primary-bg);
}

.badge-success {
    background-color: var(--secondary-bg);
}

.badge-danger {
    background-color: var(--danger-bg);
}

.toast {
    position: absolute;
    top: 50px;
    right: 50px;
    min-width: 300px;
    z-index: 1000;
}

.bg-error {
    background-color: #fc544b;
}

.blog .blog-pagination li {
    font-size: 13px;
    font-weight: 600;
    border-radius: var(--bs-border-radius);
    background: var(--soft-grey-bg);
}

.blog .blog-pagination li.disabled {
    pointer-events: none;
    cursor: auto;
    opacity: 0.6;
}

.blog .blog-pagination li i::before {
    font-size: 13px !important;
    font-weight: 900 !important;
}

.blog .blog-pagination li.active, .blog .blog-pagination li:hover {
    background: var(--secondary-bg);
}
